{
    "check-coverage": true,
    "statements": 88,
    "branches": 76,
    "functions": 90,
    "lines": 89,
    "include": [
        "generators/**/*.js"
    ],
    "exclude": [
        "generators/**/templates/**",
        "generators/app/fallback_*.js"
    ]
}