{
  "finance_investment_portfolio_url": "{{url}}",
  "finance_investment_portfolio_writer_userid": "{{writerUserId}}",
  "finance_investment_portfolio_writer_password": "{{writerPassword}}",
  "finance_investment_portfolio_reader_userid": "{{readerUserId}}",
  "finance_investment_portfolio_reader_password": "{{readerPassword}}"
}
