{
  "object_storage_project_id": "{{projectId}}",
  "object_storage_project": "{{project}}",
  "object_storage_user_id": "{{userId}}",
  "object_storage_password": "{{password}}",
  "object_storage_region": "{{region}}",
  "object_storage_authurl" : "{{authUrl}}",
  "object_storage_domainName" : "{{domainName}}"
}
